@media screen and (max-width: 500px) {
    .block {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }

    .player1Panel {
        position: relative;
        top: 450px;
        height: 50%;
    }
    .player2Panel {
        position: relative;
        top: 50px;
        height: 50%;
    }
    .player1,
    .player2 {
        margin-bottom: 0px;
    }
    .group-btn {
        flex-direction: row;
        position: relative;
        z-index: 1;
        bottom: 50px;
    }
    .btn-roll {
        position: relative;
    }
    .btn-hold {
        position: relative;
        margin-bottom: 150px;
        top: 180px;
    }
    .dice {
        position: relative;
        top: 320px;
    }
}
* {
    text-align: center;
    vertical-align: center;
    font-size: 24px;
}
body {
    font-family: Lato;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: url(images/98942-woofing-farm-travel-field.jpeg);
    background-size: cover;
    font-weight: 400;
    position: relative;
    height: 100vh;
}
.changeName {
    position: absolute;
    top: 10px;
    color: #1f1f1f;
    width: 200px;
    height: 80px;
}
.block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
    height: 75vh;
    margin: 50px;
    background-color: #fff;
}
.active,
.winner {
    background-color: #f7f7f7;
}
.active .player-name::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: green;
    top: -7px;
    right: 10px;
}
.player1Panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}
.player2Panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}
.player1,
.player2 {
    margin-bottom: 50px;
    font-size: 24px;
}
.player-score {
    font-size: 80px;
}
.nameScore {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}
.player-current-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: green;
    color: #fff;
    margin-bottom: 150px;
    width: 50%;
    padding: 12px;
    text-align: center;
    box-shadow: #eb4d4d 0 10px 10px;
}

.group-btn {
    flex-wrap: wrap;
}
img.dice {
    margin-top: 150px;

    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.8);
}
.btn {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}
.btn:hover {
    font-weight: 600;
}
.btn-roll {
    position: relative;
    width: 8rem;
    height: 3rem;
    top: 80px;
}
.btn-hold {
    position: relative;
    width: 8rem;
    height: 3rem;
    margin-bottom: 50px;
    top: 50px;
}
.btn-new {
    position: relative;
    margin-top: -150px;
    width: 8rem;
    height: 3rem;
}
.changeName {
    margin-top: 20px;
    color: #1f1f1f;
}
.changeName:hover {
    color: red;
}
